@import url(https://fonts.googleapis.com/css?family=Lobster+Two);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

#navlist {
  list-style-type: none;
  margin: 0px;
  padding: 5px;
  overflow: hidden;
  border: 1px solid grey;
  text-align: center;
  border-top: 4px solid #610029;
  border-bottom: 4px solid #610029;
  padding bottom: 17px;
}

#navlist li {
  display:inline-block;
  padding: 20px;
}

li a:hover {
  background-color: #B95981;
}

a {
  color: #610029;
}

div.c-wrapper {
  width: 80%;
  margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
  width: 100%;
  margin: auto;
}


h1 {
  font-family: "Lobster Two";
  font-size: 60px;
  color: #B95981;
}

p {
  color: #610029;
  font-family: "Yanone Kaffeesatz";
  font-size: 25px;
}

h2 {
  color: #B95981;
  font-family: "Yanone Kaffeesatz";
  font-size: 40px;
}

#content {
  width: 640px;
  margin: 2px;
  float: right;
}
